* {
   box-sizing: border-box;
}

body {
    background-color: rgb(55, 114, 124);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.flex-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
  }
  
 .container {
    background: rgb(93, 177, 192);
    border-radius: 5px;
    min-width: 350px;
    max-width: 500px;
    padding: 20px;
    width: 100%;
}

#quote-button {
    background-color:rgb(43, 208, 92);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(88, 88, 88);
    color:white;
    display: block;
    font-size: 0.85rem;
    font-weight: bold;
    height: 40px;
    margin: 0 auto;
    text-shadow: 1px 1px 2px rgb(88, 88, 88);
    text-transform: uppercase;
    width: 200px;
}

#quote-button:hover {
    background-color: rgb(35, 247, 98);
}

#quote-button:active {
    background-color:rgb(20, 168, 64);
    color:white;
}

#quote-paragraph {
    color: white;
    text-shadow: 1px 1px 2px rgb(88, 88, 88);
}

#quote-author {
    color: rgb(88, 88, 88);
    font-size: 1.2rem;
    text-align: right;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

/* ##### MEDIA QUERIES ##### */
@media screen and (max-width: 500px) {
    .flex-container {
        width: 95%;
    }
}